[Desktop Entry]
Encoding=UTF-8
Name=Link to Animated Heart Shape
Type=Link
URL=file:///home/francisco/git/Francisco/github/heart/index.html
Icon=text-html
